<!doctype html>
<html>

  <head>
    <title>About <%=shopData.shopName%></title> <!-- change -->
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <!-- nav -->
  <nav>

    <ul class="nav-list">
      <li><a href="/">Home</a></li> <!-- change -->
      <li><a href="books/search">Search</a></li> <!-- change -->
      <li><a href="users/login">Login</a></li> <!-- change -->
      <li><a href="logout">Logout</a></li> <!-- change -->
    </ul>
  
  </nav>

  <body>

    <h1>About <%=shopData.shopName%></h1> <!-- change -->
    
    <p>This website is a platform where gamers can find all sorts of games!
        We provide many different genres in many different price ranges!
    </p>

  </body>
</html>