<!doctype html>
<html>

  <head>
    <title>Add game to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  
  <!-- nav -->
  <nav>

    <ul class="nav-list">
      <li><a href="/">Home</a></li> <!-- change -->
      <li><a href="game/search">Search</a></li> <!-- change -->
      <li><a href="players/login">Login</a></li> <!-- change -->
      <li><a href="logout">Logout</a></li> <!-- change -->
    </ul>

  </nav>
  <body>

    <h1><%=shopData.shopName%>: Add new games!</h1>

    <form method="POST" action="/games//gameadded"> <!-- change -->
        <p>Name of game: <input id="name" type="text" name="name" value="" /></p>
        <p>Price of game: <input id="price" type="text" name="price" value="" /></p>
        <input type="submit" value="Add Game" class="button"/>
      </form>
    
  </body>
</html>

