<!doctype html>
<html>

  <head>
    <title>Add game to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  
  <!-- nav -->
  <nav>

    <ul class="nav-list">
      <li><a href="/">HOME</a></li> 
    </ul>

  </nav>
  
  <body>

    <h1><%=shopData.shopName%></h1>
    <h2>Add new games to our database of all these games!</h2>

    <!-- form to add games to the database -->
    <form method="POST" action="/games//gameadded"> 
        <p>Name of game: <input id="name" type="text" name="name" value="" /></p> <!-- name of the game -->
        <p>Price of game: <input id="price" type="text" name="price" value="" /></p> <!-- price of the game -->
        <input type="submit" value="Add Game" class="button"/> <!-- submit button to add game into the database -->
      </form>
    
  </body>
</html>

