<!doctype html>
<html>

  <head>
    <title>Bargain games of <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <nav>

    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="game/search">Search</a></li>
      <li><a href="players/login">Login</a></li> 
      <li><a href="logout">Logout</a></li> 
    </ul>

  </nav>

  <body>

    <h1><%=shopData.shopName%> Shop</h1>

    <h2>Here are our bargain games:</h2>

    <p>On this page you can find all the games that are under £20!
      <br>You do not want to miss out on these limited time offers!
      <br>Some are even FREE!! 
    </p>

    <div class="games-list-section">
      <table class="games-table">
        <tr>
          <th>GAME NAME</th>
          <th>PRICE</th>
      </tr>
      <tr> <% availableGames.forEach(function(game) { %> </tr>
        <td> <%= game.name %> </td>
        <td> £<%= game.price %> </td>
      <% }) %>
      </table>
    </div>
    
    </body>
</html>
