<!doctype html>
<html>

  <head>
    <title>Bargain games of <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <!-- nav -->
  <nav>

    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="game/search">Search</a></li> <!-- change -->
      <li><a href="players/login">Login</a></li> <!-- change -->
      <li><a href="logout">Logout</a></li> <!-- change -->
    </ul>

  </nav>

  <body>

    <h1><%=shopData.shopName%> Shop</h1>

    <h2>Here are our bargain games:</h2>

    <p>On this page you can find all the games that are under £20!</p>

    <ul> <!-- change -->
      <% availableGames.forEach(function(game) { %>
        <li><%= game.name %>, £<%=game.price%> </li>
      <% }) %>
    </ul>
    
    </body>
</html>
