<!doctype html>
<html>

  <head>
    <title>List of all games in <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <!-- nav -->
  <nav>

    <ul class="nav-list">
      <li><a href="/">HOME</a></li>
    </ul>

  </nav>

  <body>

    <h1><%=shopData.shopName%> Shop</h1>
    
    <h2>All the games that we sell!</h2>

    <!-- displays all the games that are in the database -->
    <div class="games-list-section">
      <table class="games-table">
        <tr>
          <th>GAME NAME</th>
          <th>PRICE</th>
      </tr>
      <tr> <% availableGames.forEach(function(game) { %> </tr>
        <td> <%= game.name %> </td> <!-- name of the game -->
        <td> £<%= game.price %> </td> <!-- price of the game -->
      <% }) %>
      </table>
    </div>

    </body>
</html>
