<!doctype html>
<html>

  <head>
    <title>List of all games in <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <!-- nav -->
  <nav>

    <ul class="nav-list">
      <li><a href="/">Home</a></li> <!-- change -->
      <li><a href="games/search">Search</a></li> <!-- change -->
      <li><a href="players/login">Login</a></li> <!-- change -->
      <li><a href="logout">Logout</a></li> <!-- change -->
    </ul>

  </nav>

  <body>

    <h1><%=shopData.shopName%> Shop</h1>
    
    <h2>All the games that we sell!</h2>

    <ul> <!-- change -->
      <% availableGames.forEach(function(game) { %> 
        <li><%= game.name %>, £<%= game.price %> </li>
      <% }) %>
    </ul>

    </body>
</html>
