<!doctype html>
<html>

  <head>
    <title>Welcome to <%=shopData.shopName%></title> <!-- change -->
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <body>

    <h1>Welcome to <%=shopData.shopName%></h1> <!-- change -->
    
    <p><a href="about">About <%=shopData.shopName%></a></p> <!-- change -->
    <p><a href="books/search">Search for games</a></p> <!-- change -->
    <p><a href="books/addbook">Add a new game</a></p> <!-- change -->
    <p><a href="books/list">List of all the games</a></p> <!-- change -->
    <p><a href="books/bargainbooks">Bargain games</a></p> <!-- change -->
    <p><a href="weather">Weather Forecast</a></p> <!-- change !!! -->
    <p><a href="users/register">Register with us</a></p> <!-- change -->
    <p><a href="users/list">List of our players</a></p> <!-- change -->
    <p><a href="users/login">Login</a></p> <!-- change -->
    <p><a href="logout">Logout</a></p> <!-- change -->
    <p><a href="api/books">Books API</a></p> <!-- change -->
    <p><a href="api/friend">My friend's books</a></p> <!-- change -->

  </body>
</html>
