<!doctype html>
<html>

  <head>
    <title>Welcome to <%=shopData.shopName%></title> <!-- change -->
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <!-- nav -->
  <nav>

    <ul class="nav-list">
      <li><a href="index.html" class="active">about</a></li>
      <li><a href="contact.html" >contact</a></li>
      <li><a href="projects.html">projects</a></li>
      <li><a href="experiences.html">experiences</a></li>
    </ul>

  </nav>

  <body>

    <h1>Welcome to <%=shopData.shopName%></h1> <!-- change -->
    <li>
      <ul><a href="about">About <%=shopData.shopName%></a></ul> <!-- change -->
      <ul><a href="books/search">Search for games</a></ul> <!-- change -->
      <ul><a href="books/addbook">Add a new game</a></ul> <!-- change -->
      <ul><a href="books/list">List of all the games</a></ul> <!-- change -->
      <ul><a href="books/bargainbooks">Bargain games</a></ul> <!-- change -->
      <ul><a href="weather">Weather Forecast</a></ul> <!-- change !!! -->
      <ul><a href="users/register">Register with us</a></ul> <!-- change -->
      <ul><a href="users/list">List of our players</a></ul> <!-- change -->
      <ul><a href="users/login">Login</a></ul> <!-- change -->
      <ul><a href="logout">Logout</a></ul> <!-- change -->
      <ul><a href="api/books">Games API</a></ul> <!-- change -->
    </li>

  </body>
</html>
