<!doctype html>
<html>

  <head>
    <title>Welcome to <%=shopData.shopName%></title> 
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <!-- nav -->
  <nav>

    <ul class="nav-list">
      <li><a href="/">HOME</a></li> 
      <li><a href="games/search">SEARCH</a></li> 
      <li><a href="players/login">LOGIN</a></li> 
      <li><a href="logout">LOGOUT</a></li> 
    </ul>

  </nav>

  <body>

    <h1>Welcome to <%=shopData.shopName%></h1>

    <p>Platform all for gamers to explore new games! </p>
    <p>Make sure to explore all areas here to find something you'd love! </p>
    
    <!-- link to the other routes -->
    <div class="route-section">
      <ul class="route-options">
        <h3><a href="about"><li>About <%=shopData.shopName%></li></a></h3>
        <h3><a href="games/list"><li>List of All Our Games</li></a></h3>
        <h3><a href="games/bargaingames"><li>Bargain Games</li></a></h3>
        <h3><a href="games/addgame"><li>Add a New Game</li></a></h3>
        <h3><li><a href="games/search">Search</a></li></h3>
        <h3><a href="players/register"><li>Register With Us</li></a></h3>
        <h3><a href="players/list"><li>List of Our Players</li></a></h3>
        <h3><a href="api/games"><li>Our Games API</li></a></h3>
        <h3><a href="freetogame/games"><li>FreeToGame API!</li></a></h3>
        <h3><a href="weather"><li>Weather Forecast</li></a></h3>
        <h3><li><a href="players/login">Login</a></li></h3>
        <h3><li><a href="logout">Logout</a></li></h3>
      </ul>
  </div>

  </body>
</html>
