<!doctype html>
<html>

  <head>
    <title>Welcome to <%=shopData.shopName%></title> 
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <!-- nav -->
  <nav>

    <ul class="nav-list">
      <li><a href="/">Home</a></li> <!-- change -->
      <li><a href="games/search">Search</a></li> <!-- change -->
      <li><a href="players/login">Login</a></li> <!-- change -->
      <li><a href="logout">Logout</a></li> <!-- change -->
    </ul>

  </nav>

  <body>

    <h1>Welcome to <%=shopData.shopName%></h1>

    <p>Platform all for gamers to explore new games!</p>
    
    <ul class="route-options">
      <li><a href="about">About <%=shopData.shopName%></a></li> <!-- change -->
      <li><a href="games/addgame">Add a new game</a></li> <!-- change -->
      <li><a href="games/list">List of all the games</a></li> <!-- change -->
      <li><a href="games/bargaingames">Bargain games</a></li> <!-- change -->
      <li><a href="weather">Weather Forecast</a></li> <!-- change !!! -->
      <li><a href="players/register">Register with us</a></li> <!-- change -->
      <li><a href="players/list">List of our players</a></li> <!-- change -->
      <li><a href="api/games">Games API</a></li> <!-- change -->
    </ul>

  </body>
</html>
