<!doctype html>
<html>

  <head>
    <title>List of Players <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <nav>

    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="games/search">Search</a></li>
      <li><a href="players/login">Login</a></li>
      <li><a href="logout">Logout</a></li>
    </ul>

  </nav>

  <body>

    <h1><%=shopData.shopName%> Shop</h1>
    
    <h2>List of all the players registered with us:</h2>

    <div class="games-list-section">
      <table class="games-table">
        <tr>
          <th>PLAYER</th>
          <th>USERNAME</th>
      </tr>
      <tr> <% availableGames.forEach(function(players) { %> </tr>
        <td> <%= players.first_name %> </td>
        <td> <%= players.username %> </td>
      <% }) %>
      </table>
    </div>

    </body>
</html>
