<!doctype html>
<html>

  <head>
    <title>Search for games in <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>

  <!-- nav -->
  <nav>

    <ul class="nav-list">
      <li><a href="/">HOME</a></li> 
    </ul>

  </nav>

  <body>

    <h1>Search for the games in <%=shopData.shopName%></h1>

    <h2>Let's see if we have the game that you are looking for...</h2>

    <!-- form to search for games in the database -->
    <form action="search_result" method="GET"> <!-- get the search results from the database -->
      <p>What game are you looking for?</p>
      <input id="search_box" type="text" name="search_text"> <!-- type game name here -->
      <input type="submit" value="Search" class="button"> <!-- submit button to search for the game -->
    </form>
    
  </body>

</html>