/* background */
body {
  background-color: #d4d4d4;
  margin: 0;
  padding: 0;
}

/* heading 1 */
h1 {
    font-family: fantasy;
    font-size: 20px;
    color: #282828;
    margin: 50px 0 20px 80px;
}

/* heading 2 */
h2 {
    font-family: Gill Sans, sans-serif;
    font-size: 20px;
    color: #484848;
    margin: 30px 80px 20px 80px;
}

/* paragraphs */ 
p{
  font-family: Optima, sans-serif;
  margin: 30px 80px 20px 80px;
}

/* link styles */
a:link {
    color: #000000;
    text-decoration: none;
    padding:5px;
  }
  
/* visited link */
a:visited {
  color: #000000;;
  text-decoration: none;
  padding:5px;
}

a:hover{
  color: #dd6e6e;
}

/* mouse over link */
.route-options li:hover {
  color: #dd6e6e;
  text-decoration: none;
  /* background-color: #000000;; */
  padding:5px;
}

/* form styling */
form {
  /* margin: 20px;
  padding: 5px;
  border: none; */
  padding: 20px;
  border-radius: 5px;
  background-color: #f3f3f3;
  border: 1.5px solid #282828;
  box-shadow: 0 0 10px #adadad;
  margin-left: auto;
  margin-right: auto;
  /* width: 500px;
  height: 400px; */
  height: 50%;
  width: 23%;
}

input{
  border: none;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 5px #777777;
  background: #f2f2ff;
  width: 200px;
  height: 20px;
}

.button{
  width: 120px;
  height: 50px;
  background: #e4a7a7;
  font-size: 17px;
  border-radius: 50px;
}

.button:hover{
  background-color: #dd6e6e;
}

/* navigation */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* min-height: 11vh; */
  background-color: #f3f3f3;
  box-shadow: 0 0 10px #adadad; 
  /* position: fixed; */
  width: 100%;
  height: 70px;
  /* z-index: 100; */
}

.nav-list{
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-list li{
  list-style: none;
}
.nav-list li:hover{
  /* transform: scale(1.5); */
  transition-duration: 500ms;
}

.nav-list a:hover{
  color: #dd6e6e;
}

a:link, a:visited{
  text-decoration: none;
  /* color: #282828; */
  letter-spacing: 1px;
}
/* a:hover{
  color: #dd6e6e;
  transform: scale(1.5); /* social media icons enlarges */
  /* transition-duration: 500ms; */
/* } */

/* picked nav option gets a green background */
/* .active{ */
  /* background: #9c6edd; */
  /* border-radius: 100px; */
  /* padding: 13px;
  color: #dd6e6e;
} */

.route-options ul{
  text-align: center;
}

.route-options{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 5px;
  border: 1.5 solid #3d0808;
  margin: 25px;
}

.route-options li{
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 2px #dd6e6e solid;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0px 0px 5px #777777;
  height: 50px;
  width: 130px;
  text-align: center;
}

.route-options li:hover{
  transform: scale(1.2);
  transition-duration: 500ms;
  /* box-shadow: 0px 0px 5px #777777; */
}

.games-list-section{
  margin: 50px;
  /* padding: 10px; */
}

table{
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f3f3;
  border: 1.5px solid #282828;
  box-shadow: 0 0 10px #adadad;
  border-radius: 10px;
}

td, tr, th{
  padding: 20px;
  border: 1px dotted #474747;
}

th{
  background-color: #fbe3e3;
}

.weather-results{
  margin-left: auto;
  margin-right: auto;
  border: 1.5px dotted #474747;
  border-radius: 10px;
  background-color: #f3f3f3;
  width: 20%;
  height: 20%;
}