/* background */
body {
  background-color: #2e4053;
  margin: 0;
  padding: 0;
}

/* heading 1 */
h1 {
    font-family: fantasy;
    font-size: 20px;
    color: #d6dbdf;
    margin: 50px 0 20px 80px;
}

/* heading 2 */
h2 {
    font-family: Gill Sans, sans-serif;
    font-size: 20px;
    color: #d6dbdf;
    margin: 30px 80px 20px 80px;
}

/* paragraphs */ 
p{
  font-family: Optima, sans-serif;
  margin: 30px 80px 20px 80px;
  color: #d6dbdf;
}

/* link styles */
a:link {
    color: #d6dbdf;
    text-decoration: none;
    padding:5px;
}
  
/* visited link */
a:visited {
  color: #d6dbdf;
  text-decoration: none;
  padding:5px;
}

a:hover{
  color: #dd6e6e;
}

/* mouse hover link */
.route-options li:hover {
  color: #dd6e6e;
  text-decoration: none;
  padding:5px;
}

/* form styling */
form {
  padding: 20px;
  border-radius: 5px;
  background-color: #f3f3f3;
  border: 1.5px solid #282828;
  box-shadow: 0 0 10px #adadad;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form p{
  color: #1c2833;
}

/* form input bar */
input{
  border: none;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 5px #777777;
  background: #f2f2ff;
  width: 200px;
  height: 20px;
}

/* submit button */
.button{
  width: 120px;
  height: 50px;
  background: #e4a7a7;
  font-size: 17px;
  border-radius: 50px;
  margin-top: 15px;
}

.button:hover{
  background-color: #dd6e6e;
}

/* navigation */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1c2833;
  box-shadow: 0 0 10px #adadad; 
  width: 100%;
  height: 70px;
}

/* navigation lists */
.nav-list{
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-list li{
  list-style: none;
}
.nav-list li:hover{
  transition-duration: 500ms;
}

.nav-list a:hover{
  color: #dd6e6e;
}

/* links */
a:link, a:visited{
  text-decoration: none;
  letter-spacing: 1px;
}

/* the routes in index.ejs*/
.route-section{
  border: 1.5px solid #282828;
  border-radius: 20px;
  background-color: #f3f3f3;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.route-options ul{
  text-align: center;
}

.route-options{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;
  border: 1.5 solid #3d0808;
}

/* the list of all the routes */
.route-options li{
  padding: 5px;
  border-radius: 5px;
  border: 2px #282828 solid;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0px 0px 5px #777777;
  height: 50px;
  width: 130px;
  text-align: center;
  background-color: #5d6d7e;
}

.route-options li:hover{
  transform: scale(1.2);
  transition-duration: 500ms;
}

/* the games list table in gamelist.ejs */
.games-list-section{
  margin: 50px;
}

/* the games table */
table{
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f3f3;
  border: 1.5px solid #282828;
  box-shadow: 0 0 10px #adadad;
  border-radius: 10px;
}

td, tr, th{
  padding: 20px;
  border: 1px dotted #474747;
}

th{
  background-color: #dd6e6e;
  width: 30%;
}

/* the weather forecast results section */
.weather-results{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20x;
  border: 1.5px dotted #474747;
  border-radius: 10px;
  background-color: #f3f3f3;
  width: 30%;
  height: auto;
  color: #1c2833;
  padding: 20px;
}

.weather-results p{
  color: #1c2833;
  margin: 5px 0;
}

/* form for searching games in the api */
form select{
  border: none;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 5px #777777;
  background: #f2f2ff;
  width: 200px;
  height: 35px;
}

/* games container */
.games-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* games list */
.game-list {
  background-color: #f3f3f3;
  border-radius: 5px;
  border: 2px solid #000000;
  box-shadow: 0 4px 10px #777777;
  overflow: hidden;
}

/* games images */
.game-list img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #000000;
}

/* information about the games */
.game-info {
  padding: 15px;
  text-align: center;
}

.game-info h3 {
  font-size: 25px;
  color: #34495e;
  margin-bottom: 10px;
}

.game-info p {
  font-size: 15px;
  color: #34495e;
  margin: 5px 0;
}

/* check out button */
.game-info a {
  display: inline-block;
  margin-top: 15px;
  padding-top: 15px;
  font-size: 17px;
  background-color: #dd6e6e;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  width: 120px;
  height: 30px;
}

/* check out button hover */
.game-info a:hover {
  background-color: #e4a7a7;
}